
.todoapp h1,
#todoapp h1 {
	font-size: 16px;
	font-weight: bold;
	color: red;
	position: absolute;
	top: -2em;
	line-height: 2em;
	margin: 0;
	padding: 0;
}

.todoapp,
#todoapp {
	margin: 40px 0px;
}

label {
	transform: translate3d(0px,0px,0px);
	-moz-transform: translate3d(0px,0px,0px);
	-webkit-transform: translate3d(0px,0px,0px);

	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

}

#info,.info {
	display: none;
}